@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

:root {
  color-scheme: light dark;
  font-family: "Inter", sans-serif;
  background-color: #0f172a;
  color: #e2e8f0;
}

body,
html,
#root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #0f172a;
}

a {
  color: inherit;
  text-decoration: none;
}
